/* font styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

                           /* shared styles */

.display-flex{
    display: flex;
}

.display-grid{
    display: grid;
}

                            /* navbar styles */

.navbar{
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 80px;
}

.nav-links{
    gap: 34px;
    align-items: center;
    justify-content: center;
}

nav li{
    list-style: none;
} 

nav a{
    text-decoration: none;
    color: black;
} 

nav a img{
    width: 65%;
    height: 65%;
}

.brand{
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 700;
}

                        /* banner styles */

.banner-container{
    max-width: 1440px;
    margin: 0 auto;
    border: 2px solid red;
    justify-content: space-between;
    margin-top: 50px;
}

.banner-text, .banner-image{
    max-width: 50%;
}